<p><strong>開始時間：</strong><%= @interview.interview_date_format %></p>
<p><strong>承認状態：</strong><%= @interview.interview_status %></p>

<%= link_to '面接一覧へ', user_interviews_path(@user), class: "btn btn-primary" %>